# CMake .gitignore from GitHub
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cmake

# Ninja
.ninja_deps
.ninja_log
build.ninja

# Lib and binaries
v4l2-capture
libv4l2-capture-lib.a

# clangd cache
.cache